/* CSS declarations go here */
div #cameraContainer{
	width:90vw;
	height:100vh;

}

img{
	display: inline-block;
	
	box-sizing:border-box;
	vertical-align: top;
}
video{
	display:inline-block;
	
}
canvas{
	display: none;
}